
.T {
  color: white;
}

body {
  overflow-x: hidden;
}

.colour {
  background: url("https://i.pinimg.com/originals/36/f0/94/36f0949c623b61a235fd6645fa507236.jpg");
  height: 100vh;
  margin: -11px;
  background-repeat: no-repeat;
  background-size: cover;



}
@media screen and (max-width: 1200px) {

.biryani img { display: none; }

}



.welcome-1{
  align-items: center;
  float: left;
  margin-top : 5vh;
  margin-left: 20.7vw;
  width: 100vw;
  display: flex;

}

.welcome-1 p {
  color: #fafafa;
  font-weight: 300;
  font-size: 15px;
  display: flex;
}
* {
  padding: 0;

  box-sizing: border-box;
  font-family: 'roboot', sans-serif;
  text-decoration: none;
}
.welcome {


  align-items: center;
  float: left;
  margin-top : 0%;
  margin-left: 20.7vw;
  width: 3vw;


}
.btn {
  font-size: 2vw;
  color: #fafafa;
  width: 20vh;
  font-weight: 300;
  font-size: 20px;

  margin-top: 70vh;
  margin-left: 21.7vw;

  display: flex;
}

.welcome h1 {
  color: #fafafa;
  font-weight: 300;
  font-size: 70px;
  display: flex;
}
* {
  padding: 0;

  box-sizing: border-box;
  font-family: 'roboot', sans-serif;
  text-decoration: none;
}

.welcome h3 {
  color: #fff;
  font-weight: 300;
  font-size: 35px;
  width: ;
    display: flex;
}
* {
  padding: 0;

  box-sizing: border-box;
  font-family: 'roboot', sans-serif;
  text-decoration: none;
}
.hello1 {
    align-items: center;
  float: left;
  margin-top: 20vh;
  margin-left: -2.7vw;
  width: 30vw;
  display: flex;

}
.hello1 h3 {
  color: #fff;
  font-weight: 300;
  font-size: 35px;
  display: flex;
}
* {
  padding: 0;

  box-sizing: border-box;
  font-family: 'roboot', sans-serif;
  text-decoration: none;
}
.hallofrandz {
 width: 400px;
  height: auto;
    align-items: center;
  float: right;
  margin-top : 5.5vw;
  margin-right: 12vw;
  display: flex;

}


nav {
  width: 100%;
  height: 48px;
  background: #\4169e1;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
}
nav ul {
  list-style: none;
  display: flex;
}
nav ul li {
  margin: 0 40px;
}
nav ul li a {
  font-weight: 300;
  color: white;
;
  transition: 600ms;
}
nav ul li a:hover {
  color: #f5f5f7;
}[hidden] {
  display: none !important;
}

/* Import fonts */
@font-face {
  font-family: HK Grotesk;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Regular.otf?v=1603136326027")
    format("opentype");
}
@font-face {
  font-family: HK Grotesk;
  font-weight: bold;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Bold.otf?v=1603136323437")
    format("opentype");
}

.home {
  width: 100%;
 float: up;
  background: #\4169e1;
  display: flex;
  float: left;
  margin: 0px;
    justify-content: left;
  align-items: left;
  display: flex;
}

/*--- section product ---*/
.product-mac,
.product-iphone,
.product-watch,
.product-ipad {
  width: 100%;
  height: auto;

  justify-content: center;
  align-items: center;
  padding: 50px 0;
  cursor: pointer;

}
.product-mac h2,
.product-iphone h2,
.product-watch h2,
.product-ipad h2 {
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 20px;
}
.container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top:45vh;
  color: #021536;

}
.hello {
  margin-left: 30%;
  margin-right: 30%;
  text-align: justify;
  color: #4d4d4d;
  margin-top: 1%;
  margin-bottom: 1%;
  background-color: #F5F5F5;
  padding: 75px;
  transition: all 1000ms ease;
  animation-name: hello;
  animation-duration: 3s;

}

.hello:hover {

  color: #F5F5F5;
  background: url("https://i.pinimg.com/originals/36/f0/94/36f0949c623b61a235fd6645fa507236.jpg");
  transition: all 1000ms ease;
}




.grid-detail-sum h2 {
  font-size: 3rem;
  font-weight: 500;
}





.circle {
  width: 15px;
  height: 15px;
}
.circle img {
  width: 100%;
  height: 100%;
  background-size: cover;
  border-radius: 50%;
}

.container hover{
  font-size: 50px;
  color: red;
}

p:hover {
  color: #F5F5F5;

}
.scratch {
  float: center;
  align: center;
}

html {
  scroll-behavior: smooth;
}
