{% extends "./Assets/layout.html" %}

{% block head %}
  <title>CryptoAI Project</title>
{% endblock %}


{% block content %}
<div class = "colour">
      <nav>
          <ul>
            <li><a href="#overview">Overview</a></li>
            <li><a href="#pred_mod">Prediction Module</a></li>
            <li><a href="#pred_ove">Predictions Overview</a></li>
            <li><a href="#src_cd">Source Code</a></li>
            <li><a href="#ftr">Future Plans</a></li>

          </ul>

      </nav>

          <section class="welcome-1">
            <p>

            A project by Taha Fareed and Jevin Joy
            </p>
          </section>
        <section class="welcome">
        <h1 id="binary">CryptoAI</h1>
          </section>


         <section class = "hello1">
            <h3>
              The World's First highly maintained Cryptocurrency Prediction Artificial Intelligence
            </h3>
          </section>

<div class = 'biryani'>


              <img class="hallofrandz" src="https://cdn.freebiesupply.com/logos/large/2x/dogecoin-logo-black-and-white.png">
      </div>
            <section class = "btn">
              Get Started
            </section>
           </div>

      <section class="product-mac">
        <div class="container">
          <h2 id="overview">Overview</h2>
          <div class="grid">
            <div class="grid-product">

              <div class="grid-detail">
                <div class = "hello">
                  <p>The binary number system, in mathematics, positional numeral system employing 2 as the base and so requiring only two different symbols for its digits, 0 and 1, instead of the usual 10 different symbols needed in the decimal system. The numbers from 0 to 10 are thus in binary 0, 1, 10, 11, 100, 101, 110, 111, 1000, 1001, and 1010. The importance of the binary system to information theory and computer technology derives mainly from the compact and reliable manner in which 0s and 1s can be represented in electromechanical devices with two states—such as “on-off,” “open-closed,” or “go–no go.”</p>
                </div>
              </div>
            </div>




              </div>
            </div> <!--end grid-product-->

      </section>


      <section class="product-mac">
        <div class="container">
          <h2 id="pred_mod">Prediction Module</h2>
          <div class="grid">
            <div class="grid-product">

              <div class="grid-detail">
                <div class = "hello">
                <p>In a sequence of 1s and 0s, the 1s indicate the numbers that are to be added and the 0's indicate numbers that need to be ignored. 1's and 0's change in value from right to left. The numbers double for every time they move towards the left (i.e. 8, 6, 4, 2, 1)</p>

              </div>
            </div>




              </div>
            </div> <!--end grid-product-->
          </div> <!--end grid-->
      </section>

      <section class="product-mac">
        <div class="container">
          <h2 id="pred_ove">Predictions Overview</h2>
                <div class = "hello">
                <p>Gottfried Wilhelm Leibniz (1646–1716) is the self-proclaimed inventor of the binary system and is considered as such by most historians of mathematics and/or mathematicians. Really though, we owe the groundwork of today’s computing not to Leibniz but to the Englishman Thomas Harriot and the Spaniard Juan Caramuel de Lobkowitz (1606–1682), whom Leibniz plagiarized. </p>

              </div>
            </div>




      </section>
     <section class="product-mac">
        <div class="container">
          <h2 id="src_cd">Source Code</h2>
                <div class="hello">
                <p>Computers use binary - the digits 0 and 1 - to store data. A binary digit, or bit, is the smallest unit of data in computing. It is represented by a 0 or a 1. Binary numbers are made up of binary digits (bits), eg the binary number 1001.

    The circuits in a computer's processor are made up of billions of transistors. A transistor is a tiny switch that is activated by the electronic signals it receives. The digits 1 and 0 used in binary reflect the on and off states of a transistor.

    Computer programs are sets of instructions. Each instruction is translated into machine code - simple binary codes that activate the CPU. Programmers write computer code and this is converted by a translator into binary instructions that the processor can execute.

                  All software, music, documents, and any other information that is processed by a computer, is also stored using binary.</p>
              </div>
            </div>
             <section class="product-mac">
        <div class="container">
          <h2 id="ftr">Future Plans</h2>
                <div class="hello">
                  <p>Computers use binary - the digits 0 and 1 - to store data. A binary digit, or bit, is the smallest unit of data in computing. It is represented by a 0 or a 1. Binary numbers are made up of binary digits (bits), eg the binary number 1001.

    The circuits in a computer's processor are made up of billions of transistors. A transistor is a tiny switch that is activated by the electronic signals it receives. The digits 1 and 0 used in binary reflect the on and off states of a transistor.

    Computer programs are sets of instructions. Each instruction is translated into machine code - simple binary codes that activate the CPU. Programmers write computer code and this is converted by a translator into binary instructions that the processor can execute.

                  All software, music, documents, and any other information that is processed by a computer, is also stored using binary.</p>
                </div>
        </div>

      </section>
{% endblock %}
